<div style="padding:20px;">
  <div style="display:flex">
    <button type="button" class="btn btn-primary margin-right-sm">
      <i class="fas fa-save margin-right-sm"></i>Sla op
    </button>

    <button
      type="button"
      class="btn btn-danger margin-right-sm ng-star-inserted"
    >
      <i class="fas fa-trash-alt margin-right-sm"></i>Schrap
    </button>

    <button type="button" class="btn btn-default">
      <i class="fas fa-undo-alt margin-right-sm"></i>Terug
    </button>
  </div>
  <div style="display:flex; margin-top:10px">
    <div style="width:80px">
      <div class="oz-knop margin-right-sm">
        <i class="fa fa-arrow-left"></i>
      </div>
    </div>

    <div style="width:80px">
      <div class="oz-knop margin-right-sm">
        <i class="fa fa-home"></i>
      </div>
    </div>

    <div style="width:80px">
    <div class="oz-knop margin-right-sm">
      <i class="fa fa-home"></i>
    </div>
  </div>

    <div style="width:80px">
      <div class="oz-knop margin-right-sm">
        <i class="fa fa-arrow-right"></i>
      </div>
    </div>
  </div>
</div>
