<div style="padding:20px;">
<div> <b> KNOPPEN </b></div>
    <!-- ----------------------------- TERUG-->
    <div  style=" margin-top:10px">
      <button type="button" 
      class="btn btn-default margin-right-sm">
      <i class="fas fa-undo-alt margin-right-sm"></i>Terug
    </button>
    
    <button type="button" 
    class="btn btn-secondary margin-right-sm">
    <i class="fas fa-undo-alt margin-right-sm"></i>Terug
  </button>
  (Terug/annuleer)
  </div>
  <!-- ----------------------------- OPSLAAN-->
  <div  style=" margin-top:10px">
    <button type="button" 
    class="btn btn-primary margin-right-sm">
      <i class="fas fa-save margin-right-sm"></i>Opslaan
    </button>
    <button type="button" 
    class="btn btn-secondary margin-right-sm">
    <i class="fas fa-save margin-right-sm"></i>Opslaan
  </button>
  (Opslaan, sla op, bewaar)
  </div>
  <!-- ----------------------------- Verwijder-->
  <div style=" margin-top:10px">
    <button
      type="button"
      class="btn btn-danger margin-right-sm "    >
      <i class="fas fa-trash-alt margin-right-sm"></i>Verwijder
    </button>
    <button
    type="button"
    class="btn btn-secondary margin-right-sm "    >
    <i class="fas fa-trash-alt margin-right-sm"></i>Verwijder
  </button>
  (Verwijder, Schrap)
  </div>
    <!-- ----------------------------- WIJZIG-->
    <div  style="margin-top:10px">
    <button type="button" 
    class="btn btn-default margin-right-sm">
    <i class="fas fa-pen margin-right-sm"></i>Wijzig
  </button>
  
  <button type="button" 
  class="btn btn-secondary margin-right-sm">
  <i class="fas fa-pen margin-right-sm"></i>Wijzig
</button>
(Wijzig, Editeer)
</div>
    <!-- ----------------------------- Sorteer-->
    <div  style=" margin-top:10px">
    <button type="button" 
    class="btn btn-default margin-right-sm">
    <i class="fa solid fa-sort
     margin-right-sm"></i>Sorteer
  </button>
  
  <button type="button" 
  class="btn btn-secondary margin-right-sm">
  <i class="fas fa-sort margin-right-sm"></i>Sorteer
</button>
(sorteer)
</div>

<!-- ----------------------------- Zoek-->
<div  style=" margin-top:10px">
<button type="button" 
class="btn btn-default margin-right-sm">
<i class="fa-solid fa-magnifying-glass fa-undo-alt margin-right-sm"></i>Zoek
</button>

<button type="button" 
class="btn btn-secondary margin-right-sm">
<i class="fas fa-undo-alt margin-right-sm"></i>Zoek
</button>
(Ga naar zoekscherm om een selectie te maken)
</div>
<!-- ----------------------------- Filter-->
<div  style=" margin-top:10px">
<button type="button" 
class="btn btn-default margin-right-sm">
<i class="fas fa-filter margin-right-sm"></i>Filter
</button>

<button type="button" 
class="btn btn-secondary margin-right-sm">
<i class="fas fa-filter margin-right-sm"></i>Filter
</button>
(Filter, geef alle zoekcriteria op)
</div>
<!-- ----------------------------- Meer-->
<div  style=" margin-top:10px">
<button type="button" 
class="btn btn-default margin-right-sm">
<i class="fas fa-ellipsis margin-right-sm"></i>Meer
</button>


<button type="button" 
class="btn btn-secondary margin-right-sm">
<i class="fas fa-ellipsis margin-right-sm"></i>Meer
</button>
(Meer, andere opties)
</div>
<!-- ----------------------------- Afdrukken-->
<div  style="display:flex; margin-top:10px">
<button type="button" 
class="btn btn-default margin-right-sm">
<i class="fas fa-print margin-right-sm"></i>Afdrukken
</button>

<button type="button" 
class="btn btn-secondary margin-right-sm">
<i class="fas fa-print margin-right-sm"></i>Afdrukken
</button>
(Afdruk, Afdrukken, Print)
</div>


  <!-- ----------------------------- OK-->
  <div  style="display:flex; margin-top:10px">
  <button type="button" 
  class="btn btn-default margin-right-sm">
  <i class="fas fa-print margin-right-sm"></i>OK
  </button>
  
  <button type="button" 
  class="btn btn-secondary margin-right-sm">
  <i class="fas fa-print margin-right-sm"></i>OK
  </button>
  (Bevestigen van scherm zonder opslaan)
  </div>
    <!-- ----------------------------- andere-->
  <div> (Selecteer) </div>
  <div> 
  <div _ngcontent-oxd-c328="" class="col-md-6 padding-none white-space-nowrap"><label _ngcontent-oxd-c328="" class="switch margin-right-sm"><input _ngcontent-oxd-c328="" type="checkbox" disabled=""><span _ngcontent-oxd-c328="" class="slider round disabled-btn" ng-reflect-ng-class="disabled-btn "></span></label><span _ngcontent-oxd-c328="" popover="Diagnostisch Bilan." container="body" triggers="mouseenter:mouseleave" placement="top" ng-reflect-popover="Diagnostisch Bilan." ng-reflect-container="body" ng-reflect-triggers="mouseenter:mouseleave" ng-reflect-placement="top">Tonen in memo </span><!--container--></div>

 </div>
    <div> (keuze bevestigen) </div>
    <div> (loading) </div>
    <div> (Genereer) </div>
  
  
  <br>
  <div> <b> Navigatie </b></div>


</div>
<!-- ----------------------------- NEXT-->
  <div style="display:flex; margin-top:10px">
    Vorige
    <div style="width:80px">
      <div class="oz-knop margin-right-sm">
        <i class="fa fa-arrow-left"></i> 
      </div>
    </div>
  </div>
  <!-- ----------------------------- NEXT-->
  <div  style="display:flex; margin-top:10px">
  Volgende<div style="width:80px">
    <div class="oz-knop margin-right-sm">
      <i class="fa fa-arrow-right"></i>
    </div>
  </div>
</div>  <!-- ----------------------------- HOME-->
  <div  style="display:flex; margin-top:10px">
    Home <div style="width:80px">
      <div class="oz-knop margin-right-sm">
        <i class="fa fa-home"></i>
      </div>
    </div>

  </div>

  <div> top </div>
  <div> Bottom </div>

  <br>
  <div> <b> KLEUREN </b></div>

  <div style="display:flex; margin-top:10px">
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>
<button type="button" class="btn ">x</button>

<button type="button" class="btn btn-link">Link</button>


  
</div>
