<div style="padding:20px;">
  <div><b> KNOPPEN </b></div>
  <!-- ----------------------------- TERUG-->
  <div style=" margin-top:10px">
    <button type="button" class="btn btn-default margin-right-sm">
      <i class="fas fa-undo-alt margin-right-sm"></i>Terug
    </button>

    <button type="button" class="btn btn-secondary margin-right-sm">
      <i class="fas fa-undo-alt margin-right-sm"></i>Terug
    </button>
    <button type="button" title="Haal lijst op" class="btn btn-default">
      <i class="fas fa-undo-alt"></i>
    </button>
    (Terug/annuleer)
  </div>
  <!-- ----------------------------- OPSLAAN-->
  <div style=" margin-top:10px">
    <button type="button" class="btn btn-primary margin-right-sm">
      <i class="fas fa-save margin-right-sm"></i>Opslaan
    </button>
    <button type="button" class="btn btn-secondary margin-right-sm">
      <i class="fas fa-save margin-right-sm"></i>Opslaan
    </button>
    <button type="button" title="Haal lijst op" class="btn btn-default">
      <i class="fas fa-save"></i>
    </button>
    (Opslaan, sla op, bewaar)
  </div>
  <!-- ----------------------------- Verwijder-->
  <div style=" margin-top:10px">
    <button type="button" class="btn btn-danger margin-right-sm">
      <i class="fas fa-trash-alt margin-right-sm"></i>Verwijder
    </button>
    <button type="button" class="btn btn-secondary margin-right-sm">
      <i class="fas fa-trash-alt margin-right-sm"></i>Verwijder
    </button>
    <button type="button" title="Haal lijst op" class="btn btn-default">
      <i class="fas fa-trash-alt"></i>
    </button>
    (Verwijder, Schrap)
  </div>
  <!-- ----------------------------- WIJZIG-->
  <div style="margin-top:10px">
    <button type="button" class="btn btn-default margin-right-sm">
      <i class="fas fa-pen margin-right-sm"></i>Wijzig
    </button>

    <button type="button" class="btn btn-secondary margin-right-sm">
      <i class="fas fa-pen margin-right-sm"></i>Wijzig
    </button>
    <button type="button" title="Haal lijst op" class="btn btn-default">
      <i class="fas fa-pen"></i>
    </button>
    (Wijzig, Editeer)
  </div>
  <!-- ----------------------------- Sorteer-->
  <div style=" margin-top:10px">
    <button type="button" class="btn btn-default margin-right-sm">
      <i class="fa solid fa-sort margin-right-sm"></i>Sorteer
    </button>

    <button type="button" class="btn btn-secondary margin-right-sm">
      <i class="fas fa-sort margin-right-sm"></i>Sorteer
    </button>
    <button type="button" title="Haal lijst op" class="btn btn-default">
      <i class="fas fa-sort"></i>
    </button>
    (sorteer)
  </div>

  <!-- ----------------------------- Zoek-->
  <div style=" margin-top:10px">
    <button type="button" class="btn btn-default margin-right-sm">
      <i class="fas fa-search margin-right-sm"></i>Zoek
    </button>

    <button type="button" class="btn btn-secondary margin-right-sm">
      <i class="fas fa-search margin-right-sm"></i>Zoek
    </button>
    <button type="button" title="Haal lijst op" class="btn btn-default">
      <i class="fas fa-search"></i>
    </button>

    (Ga naar zoekscherm om een selectie te maken)
  </div>
  <!-- ----------------------------- Filter-->
  <div style=" margin-top:10px">
    <button type="button" class="btn btn-default margin-right-sm">
      <i class="fas fa-filter margin-right-sm"></i>Filter
    </button>

    <button type="button" class="btn btn-secondary margin-right-sm">
      <i class="fas fa-filter margin-right-sm"></i>Filter
    </button>
    <button type="button" title="Haal lijst op" class="btn btn-default">
      <i class="fas fa-filter"></i>
    </button>
    (Filter, geef alle zoekcriteria op)
  </div>
  <!-- ----------------------------- Meer-->
  <div style=" margin-top:10px">
    <button type="button" class="btn btn-default margin-right-sm">
      <i class="fas fa-ellipsis-h margin-right-sm"></i>Meer
    </button>

    <button type="button" class="btn btn-secondary margin-right-sm">
      <i class="fas fa-ellipsis-h margin-right-sm"></i>Meer
    </button>
    <button type="button" title="Haal lijst op" class="btn btn-default">
      <i class="fas fa-ellipsis-h"></i>
    </button>
    (Meer, andere opties)
  </div>
  <!-- ----------------------------- Afdrukken-->
  <div style="display:flex; margin-top:10px">
    <button type="button" class="btn btn-default margin-right-sm">
      <i class="fas fa-print margin-right-sm"></i>Afdrukken
    </button>

    <button type="button" class="btn btn-secondary margin-right-sm">
      <i class="fas fa-print margin-right-sm"></i>Afdrukken
    </button>
    <button type="button" title="Haal lijst op" class="btn btn-default">
      <i class="fas fa-print"></i>
    </button>
    (Afdruk, Afdrukken, Print)
  </div>

  <!-- ----------------------------- OK-->
  <div style="display:flex; margin-top:10px">
    <button type="button" class="btn btn-default margin-right-sm">OK</button>

    <button type="button" class="btn btn-secondary margin-right-sm">OK</button>

    (Bevestigen van scherm zonder opslaan)
  </div>
  <!-- ----------------------------- andere-->

  <div style="display:flex; margin-top:10px">
    <div class="col-md-6 padding-none white-space-nowrap">
      <label class="switch margin-right-sm">
        <input
          (click)="sw_memo_true = !sw_memo_true"
          type="checkbox"
          [checked]="sw_memo_true"
        />
        <span [ngClass]="getBoolClass()" class="slider round"></span>
      </label>
      <span>Memo</span>
    </div>
    <div class="col-md-6 padding-none white-space-nowrap">
      <label class="switch margin-right-sm">
        <input
          (click)="sw_memo_false = !sw_memo_false"
          type="checkbox"
          [checked]="!sw_memo_false"
        />
        <span [ngClass]="getBoolClass()" class="slider round"></span>
      </label>
      <span>Memo</span>
    </div>

    geselecteerd = blauw
  </div>

  <br />
  <div><b> Navigatie </b></div>
</div>
<!-- ----------------------------- NEXT-->
<div style="display:flex; margin-top:10px">
  <div style="width:80px">
    <div class="oz-knop margin-right-sm">
      <i class="fa fa-arrow-left"></i>
    </div>
  </div>
  Vorige
</div>
<!-- ----------------------------- NEXT-->
<div style="display:flex; margin-top:10px">
  <div style="width:80px">
    <div class="oz-knop margin-right-sm">
      <i class="fa fa-arrow-right"></i>
    </div>
  </div>
  Volgende
</div>
<!-- ----------------------------- HOME-->
<div style="display:flex; margin-top:10px">
  <div style="width:80px">
    <div class="oz-knop margin-right-sm">
      <i class="fa fa-home"></i>
    </div>
  </div>
  Home
</div>

<!-- ----------------------------- Top -->
<div style="display:flex; margin-top:10px">
  <div style="width:80px">
    <div class="oz-knop margin-right-sm">
      <i class="fa-solid fa-backward-fast"></i>
    </div>
  </div>
  Top
</div>
<!-- ----------------------------- bottom -->
<div style="display:flex; margin-top:10px">
  <div style="width:80px">
    <div class="oz-knop margin-right-sm">
      <i class="fa-solid fa-forward-fast"></i>
    </div>
  </div>
  Bottom
</div>
<!-- ----------------------------- loadingt-->
<div style="display:flex; margin-top:10px">
  <div style="width:80px">
    <div class="oz-knop margin-right-sm">
      <i class="fa-solid fa-spinner"></i>
    </div>
  </div>
  loading
</div>

<!-- ----------------------------- nieuw-->

<div style="display:flex; margin-top:10px">
  <button
    _ngcontent-oxd-c401=""
    id="oz-toevoegen-knop"
    ng-reflect-rbac-authentization="502365"
  >
    <i _ngcontent-oxd-c401="" class="fa pointer fa-plus"></i>
  </button>
  Nieuw
</div>

<br />
<div><b> KLEUREN </b></div>

<div style="display:flex; margin-top:10px">
  <button type="button" class="btn btn-primary">Primary</button>
  <button type="button" class="btn btn-secondary">Secondary</button>
  <button type="button" class="btn btn-success">Success</button>
  <button type="button" class="btn btn-danger">Danger</button>
  <button type="button" class="btn btn-warning">Warning</button>
  <button type="button" class="btn btn-info">Info</button>
  <button type="button" class="btn btn-light">Light</button>
  <button type="button" class="btn btn-dark">Dark</button>
  <button type="button" class="btn">x</button>

  <button type="button" class="btn btn-link">Link</button>
</div>
